RecipeBookMVC/RecipeBook.Data/Service References/RecipeService/RecipeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8002/RecipeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" />
  <xs:element name="GetRecipes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="GetRecipesResult" nillable="true" type="q1:ArrayOfRecipeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIngredientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="GetIngredientsResult" nillable="true" type="q2:ArrayOfIngredientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDedails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDedailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="GetDedailsResult" nillable="true" type="q3:RecipeDetailsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeIngredients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeIngredientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="GetRecipeIngredientsResult" nillable="true" type="q4:ArrayOfRecipeIngredientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipesByIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingredientName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipesByIngredientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="GetRecipesByIngredientResult" nillable="true" type="q5:ArrayOfRecipeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipesByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipesByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="GetRecipesByNameResult" nillable="true" type="q6:ArrayOfRecipeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipesByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="categoryName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipesByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="GetRecipesByCategoryResult" nillable="true" type="q7:ArrayOfRecipeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="ingredient" nillable="true" type="q8:IngredientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIngredientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingredientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteIngredientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="ingredient" nillable="true" type="q9:IngredientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIngredientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipeIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="recipeIngredient" nillable="true" type="q10:RecipeIngredientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipeIngredientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecipeIngredient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipeId" type="xs:int" />
        <xs:element minOccurs="0" name="ingredientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecipeIngredientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecipeIngredients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecipeIngredientsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="recipe" nillable="true" type="q11:RecipeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRecipeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recipeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRecipeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecipe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="recipe" nillable="true" type="q12:RecipeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecipeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="details" nillable="true" type="q13:RecipeDetailsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRecipeDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecipeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" minOccurs="0" name="details" nillable="true" type="q14:RecipeDetailsDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRecipeDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>