RecipeBookMVC/RecipeBook.Data/Service References/RecipeService/RecipeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecipeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8002/RecipeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8002/RecipeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8002/RecipeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecipeService_GetRecipes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipes" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetRecipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredients" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetDedails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDedails" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetDedails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDedailsResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetRecipeIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeIngredients" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetRecipeIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetRecipesByIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesByIngredient" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetRecipesByIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesByIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetRecipesByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesByName" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetRecipesByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetRecipesByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesByCategory" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetRecipesByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_AddIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddIngredient" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_AddIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_DeleteIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteIngredient" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_DeleteIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_UpdateIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIngredient" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_UpdateIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_AddRecipeIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipeIngredient" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_AddRecipeIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipeIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_DeleteRecipeIngredient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecipeIngredient" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_DeleteRecipeIngredient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecipeIngredientResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_AddRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipe" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_AddRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_DeleteRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecipe" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_DeleteRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_UpdateRecipe_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecipe" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_UpdateRecipe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecipeResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_AddRecipeDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipeDetails" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_AddRecipeDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecipeDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_UpdateRecipeDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecipeDetails" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_UpdateRecipeDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecipeDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecipeService">
    <wsdl:operation name="GetRecipes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/GetRecipes" message="tns:IRecipeService_GetRecipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/GetRecipesResponse" message="tns:IRecipeService_GetRecipes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/GetIngredients" message="tns:IRecipeService_GetIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/GetIngredientsResponse" message="tns:IRecipeService_GetIngredients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDedails">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/GetDedails" message="tns:IRecipeService_GetDedails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/GetDedailsResponse" message="tns:IRecipeService_GetDedails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipeIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/GetRecipeIngredients" message="tns:IRecipeService_GetRecipeIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/GetRecipeIngredientsResponse" message="tns:IRecipeService_GetRecipeIngredients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipesByIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/GetRecipesByIngredient" message="tns:IRecipeService_GetRecipesByIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/GetRecipesByIngredientResponse" message="tns:IRecipeService_GetRecipesByIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipesByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/GetRecipesByName" message="tns:IRecipeService_GetRecipesByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/GetRecipesByNameResponse" message="tns:IRecipeService_GetRecipesByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipesByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/GetRecipesByCategory" message="tns:IRecipeService_GetRecipesByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/GetRecipesByCategoryResponse" message="tns:IRecipeService_GetRecipesByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/AddIngredient" message="tns:IRecipeService_AddIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/AddIngredientResponse" message="tns:IRecipeService_AddIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/DeleteIngredient" message="tns:IRecipeService_DeleteIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/DeleteIngredientResponse" message="tns:IRecipeService_DeleteIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/UpdateIngredient" message="tns:IRecipeService_UpdateIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/UpdateIngredientResponse" message="tns:IRecipeService_UpdateIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecipeIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/AddRecipeIngredient" message="tns:IRecipeService_AddRecipeIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/AddRecipeIngredientResponse" message="tns:IRecipeService_AddRecipeIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecipeIngredient">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/DeleteRecipeIngredient" message="tns:IRecipeService_DeleteRecipeIngredient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/DeleteRecipeIngredientResponse" message="tns:IRecipeService_DeleteRecipeIngredient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/AddRecipe" message="tns:IRecipeService_AddRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/AddRecipeResponse" message="tns:IRecipeService_AddRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/DeleteRecipe" message="tns:IRecipeService_DeleteRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/DeleteRecipeResponse" message="tns:IRecipeService_DeleteRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecipe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/UpdateRecipe" message="tns:IRecipeService_UpdateRecipe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/UpdateRecipeResponse" message="tns:IRecipeService_UpdateRecipe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecipeDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/AddRecipeDetails" message="tns:IRecipeService_AddRecipeDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/AddRecipeDetailsResponse" message="tns:IRecipeService_AddRecipeDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecipeDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/UpdateRecipeDetails" message="tns:IRecipeService_UpdateRecipeDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/UpdateRecipeDetailsResponse" message="tns:IRecipeService_UpdateRecipeDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecipeService" type="tns:IRecipeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipes">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/GetRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIngredients">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/GetIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDedails">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/GetDedails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipeIngredients">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/GetRecipeIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipesByIngredient">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/GetRecipesByIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipesByName">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/GetRecipesByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipesByCategory">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/GetRecipesByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddIngredient">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/AddIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteIngredient">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/DeleteIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateIngredient">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/UpdateIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecipeIngredient">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/AddRecipeIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecipeIngredient">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/DeleteRecipeIngredient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecipe">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/AddRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecipe">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/DeleteRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecipe">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/UpdateRecipe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecipeDetails">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/AddRecipeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecipeDetails">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/UpdateRecipeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecipeService">
    <wsdl:port name="BasicHttpBinding_IRecipeService" binding="tns:BasicHttpBinding_IRecipeService">
      <soap:address location="http://localhost:8002/RecipeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>