RecipeBookMVC/RecipeBook.Data/Service References/RecipeService/RecipeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRecipeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeDto" nillable="true" type="tns:RecipeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeDto" nillable="true" type="tns:ArrayOfRecipeDto" />
  <xs:complexType name="RecipeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="xs:int" />
      <xs:element minOccurs="0" name="PhotoUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipeId" type="xs:int" />
      <xs:element minOccurs="0" name="RecipeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeDto" nillable="true" type="tns:RecipeDto" />
  <xs:complexType name="RecipeDetailsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CookingTemperature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CookingTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipeId" type="xs:int" />
      <xs:element minOccurs="0" name="Steps" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeDetailsDto" nillable="true" type="tns:RecipeDetailsDto" />
  <xs:complexType name="ArrayOfRecipeIngredientDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecipeIngredientDto" nillable="true" type="tns:RecipeIngredientDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipeIngredientDto" nillable="true" type="tns:ArrayOfRecipeIngredientDto" />
  <xs:complexType name="RecipeIngredientDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IngredientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipeId" type="xs:int" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeIngredientDto" nillable="true" type="tns:RecipeIngredientDto" />
</xs:schema>