RecipeBookMVC/RecipeBook.Data/Service References/RecipeService/RecipeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RecipeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17114/RecipeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17114/RecipeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17114/RecipeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RecipeBook.Service.Data.ModelsDto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecipeService_GetRecipes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipes" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetRecipes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipesResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategories" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetDedails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDedails" />
  </wsdl:message>
  <wsdl:message name="IRecipeService_GetDedails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDedailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IRecipeService">
    <wsdl:operation name="GetRecipes">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/GetRecipes" message="tns:IRecipeService_GetRecipes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/GetRecipesResponse" message="tns:IRecipeService_GetRecipes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/GetCategories" message="tns:IRecipeService_GetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/GetCategoriesResponse" message="tns:IRecipeService_GetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDedails">
      <wsdl:input wsaw:Action="http://tempuri.org/IRecipeService/GetDedails" message="tns:IRecipeService_GetDedails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRecipeService/GetDedailsResponse" message="tns:IRecipeService_GetDedails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRecipeService" type="tns:IRecipeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRecipes">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/GetRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCategories">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/GetCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDedails">
      <soap:operation soapAction="http://tempuri.org/IRecipeService/GetDedails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecipeService">
    <wsdl:port name="BasicHttpBinding_IRecipeService" binding="tns:BasicHttpBinding_IRecipeService">
      <soap:address location="http://localhost:17114/RecipeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>